.game-index[data-v-874dc6cb]{padding:20px;color:#fff;text-align:center}.game-index a[data-v-874dc6cb]{color:#4caf50;text-decoration:none}.game-index a[data-v-874dc6cb]:hover{text-decoration:underline}
