.phaser-game-container[data-v-18d6ad51]{display:flex;align-items:center;justify-content:center;width:100%;height:100vh;background-color:#1a1a2e;overflow:hidden}#phaser-game[data-v-18d6ad51]{width:100%;height:100%}
